.contactPage {
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.contactTitle {
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 2rem;
    margin-bottom: 0.5rem;
}

.contactDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 3rem;
}

.callDesc {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 0.3rem;
}

.call {
    object-fit: cover;
    height: 1.2rem;
    margin-right: 0.3rem;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    background: #404040;
}

.submitBtn {
    border: none;
    background: #fff;
    color: #222;
    padding: 1rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
}

.submitBtn:hover {
    background: #ddd;
    color: #111;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 1rem 0.5rem;
}